In [ ]:
from pathlib import Path
import pandas as pd
from datetime import  datetime, timedelta
import numpy as np
from tqdm.notebook import tqdm

:

In [5]:
# Set the directory
#Run this first for OPI cleaning
# OPI CLEANING AND AVERAGING
#path = Path('U:') / 'Opi system file' / 'SQL database'/ 'Fan data'
path = Path('W:') / 'Amber Ag' / 'Amber clean data'
#W:\Amber Ag\Amber clean data\Bin 13 review\Bin 13

In [6]:
xls = pd.ExcelFile (path/'PHERC_data_2022_Aug.xls')
df = pd.read_excel(xls, 'B8_fan')
df

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,OPI_DATE,LOG_TYPE,STATE_CHANGE,INPUT_CODE,OVERRIDE_CODE,STATE_SETPOINTS,STATE_DATA
0,2020-06-25 14:09:10.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
1,2020-06-25 14:15:57.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
2,2020-06-27 08:16:32.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
3,2020-06-30 13:20:44.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
4,2020-08-18 13:55:47.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
...,...,...,...,...,...,...,...
2405,2022-08-16 11:43:48.000000,0,0,A22,A12,3\t14.0\t1.0\t1.0\t70.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2022-08-16 0...
2406,2022-08-16 11:44:18.000000,0,0,A22,NaN,3\t14.0\t1.0\t1.0\t70.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2022-08-16 0...
2407,2022-08-16 11:48:12.000000,0,0,A22,A14,3\t14.0\t1.0\t1.0\t70.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2022-08-16 0...
2408,2022-08-16 11:50:56.000000,0,0,A22,NaN,3\t14.0\t1.0\t1.0\t70.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2022-08-16 0...
2409,2022-08-16 11:57:13.000000,0,0,A22,A14,3\t14.0\t1.0\t1.0\t70.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2022-08-16 0...

In [7]:
df.columns

Index(['OPI_DATE', 'LOG_TYPE', 'STATE_CHANGE', 'INPUT_CODE', 'OVERRIDE_CODE',
       'STATE_SETPOINTS', 'STATE_DATA'],
      dtype='object')

In [8]:
clean_df = df[['OPI_DATE', 'STATE_DATA']]
# Change OPI_DATE format
clean_df['OPI_DATE'] = clean_df['OPI_DATE'].apply(lambda x: datetime.strptime(x[:-7], '%Y-%m-%d %H:%M:%S'))
# Get Date 
clean_df['STATE_DATA'] = clean_df['STATE_DATA'].apply(lambda x: x[0])
clean_df

C:\Users\aolenloa\AppData\Local\Temp/ipykernel_3896/1485247707.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['OPI_DATE'] = clean_df['OPI_DATE'].apply(lambda x: datetime.strptime(x[:-7], '%Y-%m-%d %H:%M:%S'))
C:\Users\aolenloa\AppData\Local\Temp/ipykernel_3896/1485247707.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['STATE_DATA'] = clean_df['STATE_DATA'].apply(lambda x: x[0])

                OPI_DATE STATE_DATA
0    2020-06-25 14:09:10          F
1    2020-06-25 14:15:57          F
2    2020-06-27 08:16:32          F
3    2020-06-30 13:20:44          F
4    2020-08-18 13:55:47          F
...                  ...        ...
2405 2022-08-16 11:43:48          F
2406 2022-08-16 11:44:18          F
2407 2022-08-16 11:48:12          F
2408 2022-08-16 11:50:56          F
2409 2022-08-16 11:57:13          F

[2410 rows x 2 columns]

In [9]:
start_time = clean_df['OPI_DATE'].min()
finish_time = clean_df['OPI_DATE'].max()

In [10]:
timestamps = []
time = start_time.replace(second=0, minute=0)
while time <= finish_time + timedelta(hours=1):
    timestamps.append(time)
    time = time + timedelta(hours=1)
result_df = pd.DataFrame(timestamps, columns=['Timestamp'])
result_df['Fan Time (minute)'] = ''
result_df['Fan Time Per Hour'] = ''
result_df

                Timestamp Fan Time (minute) Fan Time Per Hour
0     2020-06-25 14:00:00
1     2020-06-25 15:00:00
2     2020-06-25 16:00:00
3     2020-06-25 17:00:00
4     2020-06-25 18:00:00
...                   ...               ...               ...
18762 2022-08-16 08:00:00
18763 2022-08-16 09:00:00
18764 2022-08-16 10:00:00
18765 2022-08-16 11:00:00
18766 2022-08-16 12:00:00

[18767 rows x 3 columns]

In [11]:
current_state = clean_df.loc[0, 'STATE_DATA']
current_row = 0
on_start = clean_df.loc[0, 'OPI_DATE']
on_stop = clean_df.loc[0, 'OPI_DATE']
for index, row in result_df.iterrows():
    
    while clean_df.loc[current_row, 'OPI_DATE'] <= row['Timestamp'] \
          and clean_df.loc[current_row, 'STATE_DATA'] == 'F' \
          and current_row + 1 < clean_df['OPI_DATE'].count():
        current_row = current_row + 1
        
    if current_state == 'F' and clean_df.loc[current_row, 'STATE_DATA'] == 'T':
        on_start = clean_df.loc[current_row, 'OPI_DATE']
        while clean_df.loc[current_row, 'STATE_DATA'] == 'T' and current_row + 1 < clean_df['STATE_DATA'].count():
            current_row = current_row + 1
        on_stop = clean_df.loc[current_row, 'OPI_DATE']
#         print(on_start, '---------', on_stop)
    
    if row['Timestamp'] >= on_start.replace(second=0, minute=0) and row['Timestamp'] <= on_stop.replace(second=59, minute=59):
        result_df.at[index, 'Fan Time (minute)'] = 60
        if row['Timestamp'].date() == on_start.date() and \
           row['Timestamp'].hour == on_start.hour:
            result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - on_start.minute
        
        if row['Timestamp'].date() == on_stop.date() and \
           row['Timestamp'].hour == on_stop.hour:
            result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - (60 - on_stop.minute)
        
        result_df.at[index, 'Fan Time Per Hour'] = result_df.loc[index, 'Fan Time (minute)'] / 60
        
    
    current_state = clean_df.loc[current_row, 'STATE_DATA']

C:\Users\aolenloa\AppData\Local\Temp/ipykernel_3896/266650254.py:5: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  for index, row in result_df.iterrows():

In [12]:
# # current_state = clean_df.loc[0, 'STATE_DATA']
# current_row = 0
# on_start = clean_df.loc[0, 'OPI_DATE']
# on_stop = clean_df.loc[0, 'OPI_DATE']
# for index, row in result_df.iterrows():
#     while clean_df.loc[current_row, 'OPI_DATE'] < row['Timestamp'] and current_row + 1 < clean_df['OPI_DATE'].count():
#         current_row = current_row + 1
        
#     if current_state == 'F' and clean_df.loc[current_row, 'STATE_DATA'] == 'T':
#         on_start = clean_df.loc[current_row, 'OPI_DATE']
#         while clean_df.loc[current_row, 'STATE_DATA'] == 'T' and current_row + 1 < clean_df['STATE_DATA'].count():
#             current_row = current_row + 1
#         on_stop = clean_df.loc[current_row, 'OPI_DATE']
#         print(on_start, '---------', on_stop)
    
#     if row['Timestamp'] > on_start.replace(second=0, minute=0) and row['Timestamp'] < on_stop.replace(second=59, minute=59):
#         result_df.at[index, 'Fan Time (minute)'] = 60
#         if row['Timestamp'].date() == on_start.date() and \
#            row['Timestamp'].hour == on_start.hour:
#             result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - on_start.minute
        
#         if row['Timestamp'].date() == on_stop.date() and \
#            row['Timestamp'].hour == on_stop.hour:
#             result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - (60 - on_stop.minute)
        
#         result_df.at[index, 'Fan Time Per Hour'] = result_df.loc[index, 'Fan Time (minute)'] / 60
        
    
#     current_state = clean_df.loc[current_row, 'STATE_DATA']

In [13]:
result_df

                Timestamp Fan Time (minute) Fan Time Per Hour
0     2020-06-25 14:00:00                 0               0.0
1     2020-06-25 15:00:00
2     2020-06-25 16:00:00
3     2020-06-25 17:00:00
4     2020-06-25 18:00:00
...                   ...               ...               ...
18762 2022-08-16 08:00:00
18763 2022-08-16 09:00:00
18764 2022-08-16 10:00:00
18765 2022-08-16 11:00:00
18766 2022-08-16 12:00:00

[18767 rows x 3 columns]

In [14]:
result_df.to_csv(path / 'Bin8 Fan.csv', index=False)

: