In [1]:
from pathlib import Path
import pandas as pd
from tqdm.notebook import tqdm 
from datetime import  datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter, MonthLocator

In [2]:
path = Path('U:') / 'Opi system file' / 'SQL database' / 'New Data Processing'

In [3]:
filename = path / 'Ambient raw data pherc3mar21.xls'

In [10]:
df = pd.read_excel(filename)
df

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,OPI_DATE,AMBIENT_TEMP,AMBIENT_RH,BAR_PRESSURE,WIND_DIRECTION,WIND_STATUS,WIND_SPEED,SOLAR_RADIATION,RAIN_STATUS,RAIN_ACCUMULATION,GPS_COORDINATES,GENERIC_DATA
0,2020-10-28 15:28:00.000000,50.400002,69.599998,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
1,2020-10-28 15:38:00.000000,50.700001,69.500000,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
2,2020-10-28 15:48:00.000000,50.799999,67.800003,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
3,2020-10-28 15:58:00.000000,50.799999,68.900002,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
4,2020-10-28 16:08:00.000000,51.000000,69.300003,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11866,2021-03-19 10:53:00.000000,34.900002,59.799999,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11867,2021-03-19 11:03:00.000000,35.200001,57.400002,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11868,2021-03-19 11:13:00.000000,35.799999,53.700001,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11869,2021-03-19 11:23:00.000000,36.400002,55.500000,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11870,2021-03-19 11:33:00.000000,37.299999,52.599998,-100,-100,-100,-100,-100,-100,-100,NaN,NaN

In [11]:
# Change the date format
for index, row in tqdm(df.iterrows()):

    # Remove unnecasy charactor
    timestamp_text = row['OPI_DATE'][:16]
    try:
        # Convert to Python datetime variable
        timestamp = datetime.strptime(timestamp_text, '%Y-%m-%d %H:%M')
        # Replace the old data
        df.at[index, 'OPI_DATE'] = timestamp
    except:
        print("Can't convert")

# View new version
df

0it [00:00, ?it/s]

,OPI_DATE,AMBIENT_TEMP,AMBIENT_RH,BAR_PRESSURE,WIND_DIRECTION,WIND_STATUS,WIND_SPEED,SOLAR_RADIATION,RAIN_STATUS,RAIN_ACCUMULATION,GPS_COORDINATES,GENERIC_DATA
0,2020-10-28 15:28:00,50.400002,69.599998,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
1,2020-10-28 15:38:00,50.700001,69.500000,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
2,2020-10-28 15:48:00,50.799999,67.800003,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
3,2020-10-28 15:58:00,50.799999,68.900002,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
4,2020-10-28 16:08:00,51.000000,69.300003,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11866,2021-03-19 10:53:00,34.900002,59.799999,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11867,2021-03-19 11:03:00,35.200001,57.400002,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11868,2021-03-19 11:13:00,35.799999,53.700001,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11869,2021-03-19 11:23:00,36.400002,55.500000,-100,-100,-100,-100,-100,-100,-100,NaN,NaN
11870,2021-03-19 11:33:00,37.299999,52.599998,-100,-100,-100,-100,-100,-100,-100,NaN,NaN

In [22]:
df = df[['OPI_DATE', 'AMBIENT_TEMP', 'AMBIENT_RH']].copy()
df['AMBIENT_TEMP'] = df['AMBIENT_TEMP'].apply(lambda x: round(x, 1))
df['AMBIENT_RH'] = df['AMBIENT_RH'].apply(lambda x: round(x, 1))
df

                  OPI_DATE  AMBIENT_TEMP  AMBIENT_RH
0      2020-10-28 15:28:00          50.4        69.6
1      2020-10-28 15:38:00          50.7        69.5
2      2020-10-28 15:48:00          50.8        67.8
3      2020-10-28 15:58:00          50.8        68.9
4      2020-10-28 16:08:00          51.0        69.3
...                    ...           ...         ...
11866  2021-03-19 10:53:00          34.9        59.8
11867  2021-03-19 11:03:00          35.2        57.4
11868  2021-03-19 11:13:00          35.8        53.7
11869  2021-03-19 11:23:00          36.4        55.5
11870  2021-03-19 11:33:00          37.3        52.6

[11871 rows x 3 columns]

In [23]:
nov2020_todate = df.loc[df['OPI_DATE'] > datetime(year=2020, month=11, day=1)]
nov2020_todate

                  OPI_DATE  AMBIENT_TEMP  AMBIENT_RH
433    2020-11-01 00:01:00          49.7        68.8
434    2020-11-01 00:11:00          49.9        68.5
435    2020-11-01 00:21:00          49.9        68.3
436    2020-11-01 00:31:00          49.9        68.3
437    2020-11-01 00:41:00          49.9        68.4
...                    ...           ...         ...
11866  2021-03-19 10:53:00          34.9        59.8
11867  2021-03-19 11:03:00          35.2        57.4
11868  2021-03-19 11:13:00          35.8        53.7
11869  2021-03-19 11:23:00          36.4        55.5
11870  2021-03-19 11:33:00          37.3        52.6

[11438 rows x 3 columns]

In [24]:
nov2020_todate['OPI_DATE'] = nov2020_todate['OPI_DATE'].apply(lambda x: datetime.strftime(x, '%m/%d/%Y %I:%M %p'))
nov2020_todate

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                  OPI_DATE  AMBIENT_TEMP  AMBIENT_RH
433    11/01/2020 12:01 AM          49.7        68.8
434    11/01/2020 12:11 AM          49.9        68.5
435    11/01/2020 12:21 AM          49.9        68.3
436    11/01/2020 12:31 AM          49.9        68.3
437    11/01/2020 12:41 AM          49.9        68.4
...                    ...           ...         ...
11866  03/19/2021 10:53 AM          34.9        59.8
11867  03/19/2021 11:03 AM          35.2        57.4
11868  03/19/2021 11:13 AM          35.8        53.7
11869  03/19/2021 11:23 AM          36.4        55.5
11870  03/19/2021 11:33 AM          37.3        52.6

[11438 rows x 3 columns]

In [27]:
filename = path / 'Clean Ambient raw data pherc3mar21.xls'
nov2020_todate.to_excel(filename, index=False)

In [31]:
nov2020_todate['dummy'] = (nov2020_todate['AMBIENT_TEMP'] + nov2020_todate['AMBIENT_RH']) / 2
nov2020_todate

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                  OPI_DATE  AMBIENT_TEMP  AMBIENT_RH  dummy
433    11/01/2020 12:01 AM          49.7        68.8  59.25
434    11/01/2020 12:11 AM          49.9        68.5  59.20
435    11/01/2020 12:21 AM          49.9        68.3  59.10
436    11/01/2020 12:31 AM          49.9        68.3  59.10
437    11/01/2020 12:41 AM          49.9        68.4  59.15
...                    ...           ...         ...    ...
11866  03/19/2021 10:53 AM          34.9        59.8  47.35
11867  03/19/2021 11:03 AM          35.2        57.4  46.30
11868  03/19/2021 11:13 AM          35.8        53.7  44.75
11869  03/19/2021 11:23 AM          36.4        55.5  45.95
11870  03/19/2021 11:33 AM          37.3        52.6  44.95

[11438 rows x 4 columns]